<div class = "fora">
<h1>Preencha e Participe!</h1>
<div class = "cards">
    <div class = "card1">
        <p>Preencha Corretamente, Pois NÃO Nos Responsabilizamos Por Erros de Digitação</p>
        <form class = "formcompra" action="/compra" method = "POST">
        <label id = "labeltop">Seu Email</label>
        <input type="email" name = "emailcompra" placeholder="Seu Email" required autofocus>        
        <label>Seu Nick</label>
        <input type="text" name = "nick" placeholder="Nick" required autofocus>
        <label>Nick do seu duo</label>
        <input type="text" name = "nickduo" placeholder="Nick do Duo" required autofocus>
        <button class = "btncompra" type="submit">Continuar a Compra</button>
        </form>
    </div>
</div>
</div>