<div class = "fimcompra">
<h1>Escolha o Método de Pagamento</h1>
<div id="paypal-button-container"></div>

<!-- INICIO DO BOTAO PAGSEGURO --><a href="https://pag.ae/7W6U9u662/button" target="_blank" title="Pagar com PagSeguro"><img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a><!-- FIM DO BOTAO PAGSEGURO -->
</div>