<body>
    <div="page1">
        <div class="container2">
            <form class="formu1" action="/login" method="POST">
                <h1> Login </h1>
                <label id="lb">Email</label>
                <input placeholder="Email" type="text" name="email">
                <label id="lb">Senha</label>
                <input placeholder="Senha" type="password" name="senha">
                <button id = "btn" type = "submit">Cadastrar</button>
            </form>
        </div>
    </div>
</body>