<div class="total">
    <div id="fortcamp">
        <h1>FortCamp</h1>
        <h2>Ganhe Dinheiro Jogando
            Em Nossos Camps!
        </h2>
    </div>
    <div class="options">
        <div class="option"><a href="">Campeonatos</a>
            <img src="" width="300px" height="200px" alt="">
            <p></p>
            <button class="btn btn-dark btn-lg">Saiba Mais!</button>
        </div>
        <div class="option"><a href="">Resultados</a>
            <img src="" alt="">
            <p></p>
            <button class='btn btn-dark btn-lg'>Saiba Mais!</button>
        </div>
        <div class="option"><a href="">Como Funciona?</a>
            <img src="" alt="">
            <p></p>
            <button class="btn btn-dark btn-lg">Saiba Mais!</button>
        </div>

    </div>
</div>
</div>