.tudo {
    width: 100%;
    height: 1080px;
    padding-top: 100px;
    background-color: #09b9ff;
}

.camp1 {
    width: 1500px;
    height: 900px;
    justify-content: space-between;
    display: flex;
    margin: auto auto auto auto;
}
.inside1{
    animation: move 500ms;
}
.inside1 {
    border-radius: 15px;
    border: 1px solid black;
    padding: 100px;
    margin: 0 auto auto auto;
    width: 1280px;
    height: 890px;
    display: flex;
    flex-direction: column;
    font-family: Anton;
    font-size: 40px;
    background-color: rgb(34, 117, 212);
    text-align: center;
}

.btncomprar button {
    background-color: rgb(241, 104, 13);
    width: 300px;
    font-size: 40px;
    border-radius: 15px;
    height: 80px;
    color: #ffffff;
    border: 1px solid black;
    margin-top: 50px;
}
.btncomprar button:hover{
    color: #09b9ff;
}

.inside1 img {
    margin: 0 auto auto auto;
    float: left;
    border-radius: 15px;
    width: 1020px;
    height: 600px;
}

.inside1 p {
    margin: auto;
}