.tudo {
    width: 100%;
    height: 1080px;
}

.camp1 {
    width: 1500px;
    height: 900px;
    justify-content: space-between;
    display: flex;
    margin: 100px auto auto auto;
}

.inside1 {
    border-radius: 15px;
    border: 1px solid black;
    padding: 100px;
    margin: 100px auto 100px auto;
    width: 700px;
    height: 750px;
    display: flex;
    flex-direction: column;
    font-family: Anton;
    font-size: 40px;
    background-color: rgb(241, 104, 13);
    text-align: center;
}

.btncomprar button {
    background-color: #333333;
    width: 300px;
    font-size: 40px;
    border-radius: 15px;
    height: 80px;
    color: #ffffff;
    border: 1px solid black;
}

.inside1 img {
    margin: 0 auto auto auto;
    float: left;
    width: 720px;
    height: 400px;
}

.inside1 p {
    margin: auto;
}