.formu1 {
    display: flex;
    flex-direction: column;
    font-family: Anton;
    margin-bottom: 50px;
}

#lb {
    padding: 10px;
    font-family: Anton;
}

.suc1 {
    font-size: 80px;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 300px;
}

.suc1 a {
    text-decoration: none;
}

.container1 h1 {
    font-size: 70px;
    color: white;
    margin-bottom: 0;
    font-family: Anton;
}

#btn {
    margin: 30px auto auto auto;
    width: 260px;
    height: 50px;
    border-radius: 15px;
    font-size: 30px;
    font-family: Anton;
    color: rgb(39, 38, 38);
}

#btn:hover {
    text-decoration: none;
    color: rgb(241, 104, 13);
    cursor: pointer;
}

.container1 {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1200px;
    height: 800px;
    border-radius: 15px;
    padding: 30px;
    justify-content: space-between;
    margin: 150px auto auto auto;
    background-color: rgb(241, 104, 13);
}

.container2 {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1200px;
    height: 500px;
    border-radius: 15px;
    padding: 30px;
    justify-content: space-between;
    margin: 150px auto auto auto;
    background-color: rgb(241, 104, 13);
}

.formu1 label {
    font-family: Anton;
    font-size: 30px;
    color: white;
}

.formu1 input {
    margin: 0 auto auto auto;
    width: 600px;
    height: 45px;
    border-radius: 10px;
}

.page1 {
    background-color: rgb(46, 39, 39);
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    margin: auto auto auto auto;
}