.formu1 {
    display: flex;
    flex-direction: column;
    font-family: Anton;
    margin-bottom: 50px;
}

#lb {
    padding: 10px;
    font-family: Anton;
}

.suc1 {
    font-size: 80px;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 300px;
}

.suc1 a {
    text-decoration: none;
}

.container1 h1 {
    font-size: 70px;
    color: white;
    margin-bottom: 0;
    font-family: Anton;
}

#btn {
    margin: 30px auto auto auto;
    width: 260px;
    height: 50px;
    border-radius: 15px;
    font-size: 30px;
    font-family: Anton;
    color: rgb(39, 38, 38);
}

#btn:hover {
    text-decoration: none;
    color: #09b9ff;
    cursor: pointer;
}

.container1 {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 800px;
    height: 700px;
    border-radius: 15px;
    padding: 30px;
    justify-content: space-between;
    margin: 150px auto auto auto;
    background-color: rgb(34, 117, 212);
}

.container2 {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 800px;
    height: 500px;
    border-radius: 15px;
    padding: 30px;
    justify-content: space-between;
    margin: auto auto auto auto;
    background-color: rgb(34, 117, 212);
}
.container2{
    animation: move 500ms;
}
.container1{
    animation: move 500ms;
}
@keyframes move{
    from{
        opacity: 0;
        transform: translateX(-35%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}   
.formu1 label {
    font-family: Anton;
    font-size: 30px;
    color: white;
}

.formu1 input {
    margin: 0 auto auto auto;
    width: 600px;
    height: 45px;
    border-radius: 10px;
}

.page1 {
    background-color: #09b9ff;
    width: 1920px;
    height: 1280px;
    text-align: center;
    align-items: center;
    margin: auto auto auto auto;
    padding-top: 150px;
}